body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}
h1 {
  background-color: black;
  color: #fff;
  padding: 0.3em 0.8em;
  border-radius: 6px;
  border: 1px solid black;
}
#app {
  text-align: center;
}
span {
  color: aqua;
}
button {
  background-color: black;
  color: #ffffff;
  padding: 0.5em 0.8em;
  border-radius: 5px;
  border: 2px solid aqua;
}

button:hover {
  cursor: pointer;
}
